@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.inputField {
  @apply w-full border border-slate-300 rounded-lg px-3 py-2 text-sm bg-slate-50 focus:outline-none focus:ring-2 focus:ring-indigo-500
}
.inputFieldDark {
  @apply bg-slate-50 dark:bg-gray-700
}

.bg-dark {
  @apply  to-gray-50 dark:from-gray-900 dark:via-gray-800 dark:to-gray-900
}

.paginationBtnPreNext {
  @apply  bg-indigo-100 dark:bg-gray-700 text-gray-800 dark:text-gray-100 hover:bg-indigo-200 dark:hover:bg-gray-600 
}

.paginationBtnPage {
  @apply  bg-indigo-100 dark:bg-gray-700  text-gray-800 dark:text-gray-100  hover:bg-indigo-200 dark:hover:bg-gray-600 
}

/* Footer */

.footerLinkHeading{
  @apply text-indigo-600 dark:text-indigo-400
}

.footerLink{
  @apply text-gray-600 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-400 transition
}

.footerSocialIcon{
  @apply dark:bg-gray-700 
}